<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sims_XML_Auto_Translator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sims_XML_Auto_Translator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sims_XML_Auto_Translator.Properties.Settings>
            <setting name="apiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberSourceLanguage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sourceLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="rememberTargetLanguage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="targetLanguage" serializeAs="String">
                <value>EN-US</value>
            </setting>
            <setting name="detectSourceLanguage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="requestLinePerLine" serializeAs="String">
                <value>False</value>
            </setting>
        </Sims_XML_Auto_Translator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Sims_XML_Auto_Translator.Properties.Settings>
            <setting name="initalSourceLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="initalTargetLanguage" serializeAs="String">
                <value>EN-US</value>
            </setting>
        </Sims_XML_Auto_Translator.Properties.Settings>
    </applicationSettings>
</configuration>